<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign total_items = 0 %}
  {% for content in entry.contents %}
    <li class="list-group-item">
      <div class="row">
        {% if content.title %}
        <h6 class="font-weight-bold font-italic">{{content.title}}</h6>
        {% endif %}
        {% if content.description %}
        <font size="-1">
          <ol type="1" class="items" start="{{ total_items | plus: 1 }}">
            {% assign items_in_list = 0 %}
            {% for item in content.description %}
            <li>
              {% if item.title %}
                <span class="item-title">{{ item.title }}</span>
              {% endif %}
              <font size="-2">
                {% if item.contents %}
                <ul class="subitems">
                  {% for subitem in item.contents %}
                    <li><span class="subitem">{{ subitem }}</span></li>
                    {% assign items_in_list = items_in_list | plus: 1 %}
                  {% endfor %}
                </ul>
                {% endif %}
              </font>
            </li>
            {% endfor %}
            {% assign total_items = total_items | plus: items_in_list %}
          </ol>
        </font>
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>